.multi-line-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.single-line-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}